<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="display-2 text-dark text-center bg-light p-3 mb-5">Desafío 4</h1>
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-lg-8 col-md-9 col-12">
          <h2
            class="display-5 fs-3 bg-dark bg-gradient text-white text-center rounded p-3 mb-5"
          >
            Agrega productos completando los tres campos
          </h2>
          <!-- form para agregar productos -->
          <form
            action="/api/products"
            method="post"
            class="row g-3 bg-light p-3 rounded"
          >
            <div class="col-12 col-md-8">
              <label for="title" class="form-label lead fs-2">Title</label>
              <input
                type="text"
                name="title"
                id="title"
                placeholder="Title"
                class="form-control"
                maxlength="30"
                required
              />
            </div>
            <div class="col-12 col-md-4">
              <label for="price" class="form-label lead fs-2">Price</label>
              <input
                type="number"
                name="price"
                id="price"
                placeholder="Price"
                class="form-control"
                min="0"
                max="999999"
                maxlength="6"
                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength)"
                pattern="^[1-9]\d*$"
                required
              />
            </div>
            <div class="col-12">
              <label for="thumbnail" class="form-label lead fs-2"
                >Thumbnail</label
              >
              <input
                type="text"
                name="thumbnail"
                id="thumbnail"
                placeholder="Thumbnail"
                class="form-control"
                maxlength="150"
                required
              />
            </div>
            <div class="justify-content-center">
              <button
                type="submit"
                class="btn btn-lg btn-dark bg-gradient col-12 col-md-6 col-lg-3"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
